@mixin text-style($font-size, $font-weight, $line-height, $color) {
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin lg {
  @media (min-width: $bp-lg) and (max-width: $bp-xl) {
    @content;
  }
}

@mixin md {
  @media (min-width: $bp-md) and (max-width: $bp-lg) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $bp-sm) and (max-width: $bp-md) {
    @content;
  }
}

@mixin smallest {
  @media (max-width: $bp-sm) {
    @content;
  }
}
