$white: #ffffff;
$black: #000000;
$red: #c93227;
$hover-red: #9b1a11;
$purple: #4c4981;
$focus-blue: #6ab5df;
$text-black: #2b2b2b;
$text-gray: #828282;
$gray: #c1c1c1;
$light-gray: #f3f3f3;
$drop-shadow: #dcdcdc;

//breakpoint
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;

$home-background: "../assets/images/home-background.svg";
